.u-section-1 .u-sheet-1 {
  min-height: 1266px;
}

.u-section-1 .u-shape-1 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 198px;
}

.u-section-1 .u-shape-2 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 620px 276px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/dhcVSXsjOuCJKUGBfJByZ9Qg==.jpeg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1029px 32px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 245px;
  height: 245px;
  margin: -181px 13px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 634px;
  min-height: 534px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -357px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-shape-2 {
    width: 126px;
    height: 126px;
    margin-top: 670px;
    margin-right: 188px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1027px;
  }

  .u-section-1 .u-shape-3 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-1 {
    width: 565px;
    min-height: 549px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1725px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 740px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -160px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-1 .u-shape-1 {
    width: 248px;
    height: 248px;
    margin-left: 22px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 762px;
  }

  .u-section-1 .u-image-1 {
    width: 510px;
    height: 510px;
  }

  .u-section-1 .u-shape-3 {
    width: 191px;
    height: 191px;
    margin-top: -90px;
    margin-right: 25px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-shape-1 {
    width: 178px;
    height: 178px;
    margin-top: 47px;
    margin-left: 26px;
  }

  .u-section-1 .u-shape-2 {
    width: 92px;
    height: 92px;
    margin-top: 338px;
    margin-right: auto;
    margin-left: 78px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -512px;
  }

  .u-section-1 .u-shape-3 {
    width: 133px;
    height: 133px;
    margin-top: -64px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 158px;
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 1302px;
}

.u-section-3 .u-shape-1 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 630px;
}

.u-section-3 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/Cyberweek20230718.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -263px auto 0 26px;
}

.u-section-3 .u-shape-2 {
  width: 245px;
  height: 245px;
  margin: -181px auto 0 7px;
}

.u-section-3 .u-shape-3 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 28px auto 170px 270px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-3 .u-shape-1 {
    width: 209px;
    height: 209px;
    margin-right: 190px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 656px;
    height: 656px;
    margin-top: -226px;
  }

  .u-section-3 .u-shape-2 {
    width: 194px;
    height: 194px;
    margin-top: -163px;
    margin-left: 26px;
  }

  .u-section-3 .u-shape-3 {
    width: 128px;
    height: 128px;
    margin-top: 145px;
    margin-bottom: 222px;
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 64px;
  }

  .u-section-3 .u-image-1 {
    width: 604px;
    height: 604px;
    margin-top: -158px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -155px;
    margin-left: 40px;
  }

  .u-section-3 .u-shape-3 {
    width: 103px;
    height: 103px;
    margin-top: 103px;
    margin-bottom: 560px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1463px;
  }

  .u-section-3 .u-shape-1 {
    width: 177px;
    height: 177px;
    margin-right: 51px;
  }

  .u-section-3 .u-image-1 {
    width: 462px;
    height: 462px;
    margin-top: -135px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 157px;
    height: 157px;
    margin-top: -125px;
    margin-left: 42px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 19px;
    margin-bottom: 735px;
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-3 .u-shape-1 {
    width: 120px;
    height: 120px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-1 {
    width: 302px;
    height: 302px;
    margin-top: -75px;
  }

  .u-section-3 .u-shape-2 {
    width: 108px;
    height: 108px;
    margin-top: -75px;
    margin-left: 23px;
  }

  .u-section-3 .u-shape-3 {
    width: 71px;
    height: 71px;
    margin: 28px 121px 742px auto;
  }
}